<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="white">
			<center>
        	<img src="https://placeimg.com/200/200/tech" alt="Test image" class="profile-image">
        	<font color="black" size="4" style="font-family: avenir">
            <h1 style="color: Orange;font-size:40pt;"><b>Clairvoyant</b></h1>
        </font>
        </center>
		    <form method ="post" action="/get_emp_info">
				<button type="submit" name="get_emp_info" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;"> GET EMPLOYEE INFO</button>
			</form>

			<form method ="post" action="/ins_emp_info">
				<button type="submit" name="ins_emp_info" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">INSERT EMPLOYEE INFO</button>
			</form>
		</body>
	</font>
</center>
</head>
<body>
	
</body>
</html>